
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* color: rgb(38, 59, 64); */
}
*{
  box-sizing: border-box;
}


html{
  scroll-behavior: smooth;
}
/* :root{
  --bg-color:rgb(0, 0, 0);
  --text-color:#ffffff;
}
main{
  background-color: var(--bg-color);
  color:var(--text-color);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
#dark-mode-toggle:checked + main {
  --bg-color:rgb(255, 255, 255);
  --text-color:#000000;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
} */
body{
  background-color: rgb(10, 4, 19);
}
.App {
  height: 100vh;
  display: flex;
  color: rgb(63, 58, 58);
  font-family: 'Open Sans Condensed', sans-serif;
}
.logo{
  width: 30vw;
  margin: 0;
  padding: 0;
  content: none;
}
.logo2 img{
  width: 2vw;
}
.container{
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  margin:auto;
 overflow:hidden;
}
#main-header{
  background-color: rgb(30, 25, 32);
  color: rgb(63, 56, 56);
  width: 80%;
  margin:auto;
 overflow:hidden;
}
.slide-container {
  width: 70%;
  margin: auto;
}
.fontforintro{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: 900;
}
.landing-hero{
  width: 100%;
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  
}
.naming{
 margin: 2rem;
 /* color: white; */
 font-family: 'Poppins', sans-serif;
 }
 .textheading{
   font-size: 2.2rem;
   font-weight: bolder;
   /* color:white; */
   color: white;
 }
 .inlinetext{
  /* color: transparent; */
  line-height: 1;
  color: rgb(148, 91, 202);
  font-family: 'Poppins', sans-serif;
}
.subtitle{
  display: flex;
  justify-content: start;
  margin: 0;
  margin-top: 1rem;
  font-size: 1rem;
 font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  color: #ffffff;
}


.fontforintro h1{
     font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color:transparent;
  background: #00c3ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffff1c, #00c3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
line-height: 1;
display: inline;
background-clip: text;
  
}
.grid-aboutme{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

}

/* mobile first approch */
.intropara {
  font-size: 16px;
  /* font-family: 'Josefin Sans', sans-serif */
  font-family: "Damion";
  font-weight:300;
  text-align: left;
  padding: 0;
  color: #8d8d8d;
}
.introtext h1{
  text-align: center;
  font-family: "Damion";
  color: #ffffff;
  padding: 0.5rem;
  font-size: 50px auto;
  margin: 0;
  font-weight: 500;
  
}
.mainheading{
background-color: rgb(8, 5, 24);
  background-size: cover;
}
.introheader{
  text-align: center;
  font-family: "Damion";
  /* font-family: 'Josefin Sans', sans-serif; */
  padding: 0rem;
  font-size: 16px;
  margin-left: 0rem;
  margin-top: 0rem;
  font-weight: 300;
  color: #8d8d8d;
}
.about{
  display: block;
  margin: 2rem;
  margin-top: 5rem;
  color: rgb(255, 255, 255);
  float: left;
}
.about p{
 font-size: 14px;
 margin-left: 1rem;
 color: rgba(255, 255, 255, 0.979)
}
.header2{
  font-size: 25px;
  font-weight: 800;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
color:rgb(145, 116, 200);
margin-bottom: 1rem;
}
.header{
  font-size: 25px;
  font-weight: 700;
  margin: 2rem;
}
.grid-aboutme{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  margin: 0;
}
.grid-aboutme p{
  font-size: 1rem;
  font-weight: bolder;
}
.venky{
  display: block;
  height: 45vh;
  width: 90%;
  border-radius: 1%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;

}
.doing{
  margin-top: 5rem;
 
}
  .wrapper > div{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 5vh;
    margin-top: 1.5rem;
    border-radius: 0px;
    border-radius: 0px;
    /* background: rgb(18, 12, 29) ;
box-shadow:  5px 5px 4px #e4e4e4, 
             -5px -5px 4px #ffffff; */
             border-radius: 50px;
/* background: #535ff4; */
box-shadow:  5px 5px 4px #3f2681, 
             -2px -2px 10px #9174c8;
   
    margin: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .grid-skills{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

  }
.box h3{
  font-size: 16px;
  text-align: left;
  padding: 2rem;
  color: rgb(238, 238, 238)
}
.boxspan{
  font-weight: 900;
  color: rgb(255, 255, 255);
}
.skills{
  margin-top: 5rem;
}
.studied2 h3{
  font-size: 16px;
  font-weight: 600;
  margin-top: 2rem;
  padding-left: 1rem;

}
.studied h2{
  font-size: 16px;
  font-weight: 600;
  margin-top: 2rem;
  margin-left: 1rem;
}
.studied p{
  font-size: 12px;
  font-weight: 500;
  margin-left: 1rem;
  color: rgb(209, 209, 209);
}
.academy{
  font-size: 10px;
  font-weight: 900;
}
.Achievements{
  margin-top: 5rem;
  /* color: rgb(38, 59, 64); */
}
.header22{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 2rem;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color:rgb(145, 116, 200);
}
.achieved{
  margin-left: 2rem;
  /* color: rgb(38, 59, 64); */
  color: rgb(255, 255, 255);
}
.listed p{
  font-size: 12px;
  margin-bottom: 0;
  color: rgb(255, 255, 255);
}
.skillset-list li{
  color: rgb(146, 146, 146);
}

.inline{
  font-weight: 800;
  color:rgb(145, 116, 200);
}
.inline1 {
  font-weight: 800;
  font-size: 20px;
  color:rgb(255, 255, 255);
  padding-left: 0.5rem;
}
a{
  color: rgb(255, 255, 255);
}
div .waytogallery{
  margin-top: 3rem;
  padding: 1rem;

}
.header222{
  font-size: 25px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color:rgb(145, 116, 200);
}
.image{
  width: 100%;
  height: 100%;
  border-radius: 2%;
  transform: scale(1);
  transition: transform 0.5s ease;
  animation-delay: 3s;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.grid-skills{
  display: grid;
  grid-template-columns: auto auto ;
  grid-template-rows: auto;
  grid-gap: 1rem;

}
.skillset-list{
  list-style-type:disc;
  margin-left: 2rem; 

}
.pic{
  position: relative;
}
.text-block{
  position: absolute;
  bottom: 10px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.63);
  color: white;
  padding: 0.5rem;
  padding-left: 10px;
  padding-right: 20px;
  margin: 0 auto;
}
.text-block h4{
  font-size: 16px;
}
.text-block p{
  font-size: 12px;
}
.imagelink {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  border-radius: 5%;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  margin-top: 2rem;
}
.contact{
  display: flex;
  justify-content: start;
  /* word-wrap: break-word; */
  flex-wrap: wrap;
  width: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 0rem;
  /* background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); */
  padding: 1rem;
  color:white;
  border-radius: 2%;
  background: #396afc;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}


.header2c{
  font-weight: 800;
}
.contacts{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  margin-top: 2rem;
  padding:0rem;
  
}
.icons i {
  font-size: 25px;
  color: rgb(4, 195, 209);
}
.icons {
font-size: 20px;
margin-bottom: 1rem;
  
}
.clickable-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  margin-top: 1rem;
  padding: 1rem;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  text-decoration: none;
  color: #fff;
}
.clickable-button:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
 
}

.pic:hover{
  transform: scale(1.8);
  animation-delay: 3s;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.box:hover{
  box-shadow:5px 10px 20px 1px rgba(0,0,0,0.253)!important;
 
}
.row{
  color: aliceblue;
}
.text-muted{
  color: rgb(255, 145, 0);
}
.lead{
  color: rgb(114, 114, 114);
}
.contact-containter{
background-color: #000000;
  padding: 2rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hitmail{
  display: flex;
  align-items: center;
  justify-content: center;
}
.hittext{
  text-align: center;
  /* color: rgb(0, 183, 255); */
 color: transparent;
 background: #00d2ff;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
  line-height: 1;
  background-clip: text;
  font-weight: bolder;
  
  font-family: 'Oswald', sans-serif;
}
.hitmail{
  border: 1px solid rgb(53, 51, 52);
  margin: auto;
  line-height: 1;
  display: inline-block;
}
.hitmail a{
  padding: 1rem;
  font-size: 0.7rem;
  color: rgb(197, 196, 196);
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Oswald', sans-serif;
}
i:hover{
  color: #a321fa;
  border: 1px #5a5757;
  transition: -5s;
}
.contact-containter .media a{
  color: aliceblue;
}
.hitmail p{
  margin: 0 auto;
  padding: 1rem;
  font-size: 0.7rem;
  font-weight: bolder;
  color:rgb(169, 153, 241);
}
.header5{
  margin-top: 1rem;
  font-size: 0.5rem;
  display: flex;
  text-transform: uppercase;
  color: rgb(179, 179, 179);
  justify-content: center;
}
.header5 i{
  color:tomato;
  margin-right: 0.2rem;
  display: inline-block;
}
/* .map{
  height: 40vh;
  width: 100%;
  border-radius: 3%;
  margin-top: 2rem;
} */
h5{
  font-size: 16px;
  font-weight: 700;

  
}
.icons h5{
  padding-left: 1rem;
}
.contactpara {
  padding-left: 1.5rem;
  padding-top: 0.8rem;
}

/* h3 {
  text-align: center; } */

  .slide-container {
    width: 100%;
    margin: auto; }
    .container{
      width: 100%;
      padding: 1rem;
    }
   
    .fadeInUp{
      font-size: 20px;
    }
  
    .aboutheading{
      margin-left: 2rem;
      margin-top: 3rem;
    }
    .aboutheading h1{
      font-size: 1.5rem;
      color: rgb(255, 255, 255);
    }
    .aboutheading p{
      margin-top: 1rem;
      color: rgb(155, 155, 155);
    }
  /* h3 {
    text-align: center; 
  } */
  
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 300px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  
  .each-fade {
    display: flex;
  }
  
  .each-fade .image-container {
    width: 75%;
    overflow: hidden;
  }
  
  .each-fade .image-container img {
    width: 100%;
  }
  
  .each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  }

.cards{
    widows: 15px;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-iteration-count: 1;
   
}
.card:hover{
    box-shadow:5px 10px 20px 1px rgba(0,0,0,0.253)!important;
   
}
h1{
  color: antiquewhite;
}
.card{
  background-color: black;
}
.card-body{
  padding: 2rem 0  !important;
  background: rgb(12, 8, 22);


}
.card-text{
  font-size: .9rem;
  padding:0.4rem 1.9rem;
  color: #8d8d8d;
  
}
.card-title{
  color: #8d8d8d;
  font-size: 1.5rem;
}
.container-fluid .row{
  padding-top: 6rem;
  animation-delay: 3s;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.overflow{
  overflow: hidden;  
}
.card-img-top{
  transform: scale(1);
  transition: transform 0.5s ease;
  animation-delay: 3s;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.card-img-top:hover{
  transform: scale(1.8);
  animation-delay: 3s;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.ml-auto{
  font-family: 'Questrial', sans-serif;
}
.display-3{
  font-size: 4rem;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}
.jumbotron-fluid{
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.row{
  margin: 0;
}

.cardbox{
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 2vw;
  
}

.fadeInUp{
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  margin-left: 0.5rem;

}

.col2{
  width: 400px;
  height:auto;
}
.gallerydiv{
  width: 100%;
} 
.galleryachive{
  width: auto;
  height: auto;
  margin: 0rem;
  
  margin-bottom: 2rem;
  background: #FF512F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.gallerytext{
  font-family: 'Montserrat', sans-serif;
  margin: 1rem;
  padding-top: 1rem;
  font-weight: bold;
  color: white;
}
.gallerypara{
  margin: 1rem;
  font-size: 1rem;
  padding-bottom: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 183, 207);
  font-weight: 900;
}
@media(max-width:600px){
#main{
  width: 100px;
  float:none;
  }
}
@media(max-width:1024px){
  #main{
    width: 100px;
    float:none;
    }
  }
.wpb_wrapper {

font-family: Helvetica, sans-serif;
font-size: 100%;

}

#section-1{
  animation-delay: 3s;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
#section-2{
  animation-delay: 4s;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
#section-3{
  animation-delay: 4s;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
#row{
  animation-delay: 4s;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
 .wpb_wrapper {
  font-family: 'Caveat', cursive;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Satisfy', cursive;
  font-family: 'Libre Franklin', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
}

 /* main of homepage */

 main .site-title{
    background: linear-gradient(
                     rgba(5, 5, 5, 0.5), 
                     rgba(49, 49, 49, 0.5)),
                     url('./images/ootycopy1.jpg');
                     background-size: cover;
  height: 100vh;
  justify-content: center;
  display: flex;
 }
main .site-title:hover p{
  opacity: .7;
  filter: alpha(opacity=50);
  background-color:linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)),
    url('./images/ootycopy1.jpg');
  transition: all 5s;
  -webkit-transition: all 5s;
   }

main .site-title .site-background{
  padding-top: 10rem;
  text-align: center;
  color: #efefef;
}

main .site-title h1{
  font-family: 'Caveat', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Satisfy', cursive;
font-size: 9rem;
margin: -9px;
font-weight: lighter;
padding: center;
}

/* main .site-title h2{
  font-size: 2.5rem;
  font-family: 'Hind Guntur', sans-serif;
} */
.media{
  display: flex;
  align-items: center;
  justify-content: center;
}
.media a{
  color:rgb(145, 116, 200);

}

.media li  {
  list-style: none;
  /* display: inline-flex; */
  display: inline-block;
  padding: 1rem;
  margin:0 auto;
  /* align-self: center; */
  /* position: relative; */
  font-size: 30px;
  transition: .5s;
}
li,a:hover{
  color: #a19898;
  border: 1px #5a5757;
  transition: -5s;
}
 .para {
    font-size: 20px;
    font-family: 'Caveat', cursive;

  }

  .col{
    padding: 10pt;
    width: fit-content;
  }


.info{
  padding: 10vh;
  background-color: rgb(146, 146, 146);
  color: #f3efef;
  background:cover;
}
.info h1{
  color: rgb(155, 68, 231);
  padding: 10pt;
  margin: -10pt;
  padding-bottom: 5vh;
}
.info h4{
  /* margin: 10pt; */
  font-size: 18px;
  color: #b3aaaa;
}
.words{
  /* margin:7pt; */
  font-size: 21px;
  display: inline;
  font-family: 'Catamaran', sans-serif;
}

.unlisted li{
  list-style: none;
  display: list-item;
  padding: 1pt;
  margin: 1pt;
  font-size: large;
  font-family: 'Montserrat', sans-serif;
  color: #ffff;
}
  @media only screen and (min-width:375px) and (max-width: 400px){
    main .site-title h1{
      font-size: 4rem;
    }
  
    main .media li{
      left: 155px;
    }
  }

    @media screen and (min-width:768px){
      *{
          margin:0;
          padding: 0%;
        }
        .naming{
          margin-left: 4rem;
        }
        .clickable-button{
          width: 18vw;
          margin-top: 3rem;
        }
        .fontforintro{
          font-family: 'Montserrat', sans-serif;
          font-size: 1.8rem;
          font-weight: 700;
         color: white;
        }
        .fontforintro h1{
          font-family: 'Montserrat', sans-serif;
          font-size: 4rem;
          font-weight: 700;
          
        }
        .mainheading{
          background: none;
        }

        .display{
          height: 90vh;
          margin: auto;
          width: 100%;
        }
        .introtext h1{
          margin: 0 auto;
          font-size: 3rem;
          padding-top: 5rem;
     
        }
        .intropara span{
          font-size: 16px;
        }
        .grid-aboutme{
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: auto;
          margin: 0;
        }
        .grid-aboutme p{
          font-size: 1rem;
          padding: 1rem;
        }
      .venky{
        float: right;
        height:20vh;
        margin: 1rem;
        width: 25vW;
        border-radius: 2%;
      }
      .media{
      margin: 0 auto;
      }
      .about{
        margin-top: 8rem;
        margin-left: 5rem;
        margin-right: 5rem;
      }
      .about h2{
        font-size: 45px;
      }
      .about p{
        font-size: 20px;
      }
    
      .header2{
        font-size: 45px;
        margin-left: 0rem;
        margin-top: 2em;
      }
      .wrapper{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-gap: 1px;
        margin-top: 5rem;
        margin: 0rem;
      }
      .box h3{
        margin: 1rem;
        font-size: 16px;
      }
      .studied{
        margin: 2rem;
        margin-top: 3rem;
      }
      .studied h2{
        font-size: 25px;
        font-weight: 600;
        margin-top: 1rem;
      }
      .studied p{
        font-size: 20px;
        font-weight: 500;
      }
      .academy{
        font-size: 13px;
        font-weight: 900;
      }
      .header22{
        font-size: 45px;
        margin-left: 0rem;
        margin-top: 2em;
        margin-bottom: 2rem;
      }
      .header222{
        font-size: 45px;
        margin-left: 0rem;
        margin-top: 2em;
      }
      .achieved p{
       margin-bottom: 0;
        margin-top: 0rem;
      }
      .image{
        width: 100%;
        height: 100%;
      }
      .text-block{
        bottom: 30px;
        left: 0px;
        border-radius: 5%;
      }
      .text-block h4{
        font-size: 20px;
      }
      .text-block p{
        font-size: 16px;
      }
      .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-gap: 0.5rem;
        margin-top: 2rem;
      }
      .contacts h3{
        text-align: left;
        margin: 0 auto;
        margin-left: 1rem;
        margin-bottom: 2rem;
        font-size: 20px;
      }
      .contacts{
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto;
        grid-gap: 10px;
        margin-top: 2rem;
       }
      
      .grid-skills{
       display: grid;
       grid-template-columns: auto auto;
       grid-template-rows: auto;
       grid-gap: 2rem;
       margin-left: 2rem;
      }
     
      h5{
        font-size: 16px;
      }
      .galleryachive{
       height: auto;
       margin-bottom: 2rem;
       width: 100%;
      }
      .overley{
        font-family: 'Montserrat', sans-serif;
  font-weight: 90
      }
    .bbc p{
      font-weight: 900;
      font-size: 5rem;
    }
    .hitmail a{
      font-size: 1.5rem;
    }
    .hitmail p{
      font-size: 1.5rem;
    }
    .header5{
      font-size: 0.8rem;
    }
    }
     @media only screen and (min-width:770px) and (max-width:1024px){
      .clickable-button{
        width: 18vw;
        margin-top: 3rem;
      }
      .grid-aboutme{
        font-size: 2rem;
        padding: 1rem;
      }
      .venky{
        width: 20vw;
      }
      .grid-container{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        grid-gap: 0.5rem;
        margin-top: 2rem;
      }
      .contacts{
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto;
        grid-gap: 10px;
        margin-top: 2rem;
       }
    
      
     }

  
 
    
 
   @media only screen  and (min-width:800px) and (max-width:1023px) {
    .clickable-button{
      width: 18vw;
      margin-top: 3rem;
    }
    .venky{
      width: auto;
      height: 20vh;
      margin: 0;
    }
    .grid-aboutme{
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      margin: 0 auto;
    }
    .grid-aboutme p{
      display: inline;
      padding: 1rem;
    }
    .textheading{
      font-size: 4rem;
    }
    .subtitle{
      font-size: 2rem;
    }
    .introtext h1{
      margin: 0 auto;
      font-size: 3rem;
      padding-top: 10rem;
    }
    .grid-container{
      display: grid;
      grid-template-columns: auto auto ;
      grid-template-rows: auto;
      grid-gap: 0.5rem;
      margin-top: 2rem;
    }
    .contacts{
      display: grid;
      grid-template-columns: auto  ;
      grid-template-rows: auto;
      grid-gap: 10px;
      margin-top: 2rem;
     }
     .logo{
      width: 100%;
      height: 100%;
    }
      
    }
    @media only screen  and (min-width:1024px) and (max-width:2100px){
      .logo{
        width: 60%;
        height: 100%;
      }
      .logo1{
        width: 100%;
        height: 500vh;
      }
      .textheading{
        font-size: 4rem;
      }
      .subtitle{
        margin-top: 2rem;
        font-size: 1.5rem;
      }
      .clickable-button{
        width: 15vw;
        margin-top: 3rem;
      }
      .venkatesh{
        font-family: "Covered By Your Grace";
       font-size: 5rem;
      }
      .venky{
        width:25vw;
        height: auto;
      }
     .grid-aboutme p{
       font-size: 2rem;
       padding: 2rem;
     }
      .intropara{
        font-size: 1.5rem;
  
      }

      .introheader{
        font-size: 1.2rem;
      }
      .introtext h1{
        margin: 0 auto;
        font-size: 5rem;
        padding-top: 10rem;
      }
      .studied h2{
        margin-top:0rem;
        font-size: 1.3rem;
      }
      .grid-container{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        grid-gap: 0.5rem;
        margin-top: 2rem;
      }
      .contacts{
        display: grid;
        grid-template-columns: auto auto auto ;
        grid-template-rows: auto;
        grid-gap: 10px;
        margin-top: 2rem;
       }
       .grid-skills{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        grid-gap: 2rem;
        margin-left:5rem;
        
      }
      .grid-combo{
        display: grid;
        grid-template-columns:auto auto;
        grid-template-rows: auto;
      }
      .contact{
        border-radius: 1;
      }
      
    }
    @media only screen  and (min-width:2111px) and (max-width:5000px){
      .introtext h1{
        margin: 0 auto;
        font-size: 10rem;
        padding-top: 40rem;
      }
      
      .grid-container{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        grid-gap: 0.5rem;
        margin-top: 2rem;
      }
      .contacts{
        display: grid;
        grid-template-columns: auto auto auto ;
        grid-template-rows: auto;
        grid-gap: 10px;
        margin-top: 2rem;
       }
      
    }

    @media only screen and (min-width:200px) and (max-width:321px){
      main .site-title h1{
        font-size: 40px;
      }
      main .site-title p{
        font-size: 15px;
      }
      main .media li{
        margin: -5%;
        left: -9px;
      }
    }
   @media only screen and (min-width:414px) and (max-width:551px){
      main .site-title h1{
        font-size: 70px;
      }
      main .media li{
        left: 20px;
      }
    }
    @media only screen and (min-width:553px) and (max-width:750px){
      main .site-title h1{
        font-size: 100px;
      }
      main .media li{
        left: 120px;
      }
}
